.toppage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-left: 20px;
}

/* ナビ内のリンク */
.toppage-header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
}

/* 検索フォーム部分 */
.toppage-header-search {
    flex: 1;
}

.search-form {
    width: 100%;
    display: flex;
}

.search-form__keyword-input {
    width: 400px;
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 200px;
}


.header_link,
.mypage__link,
.sell__link {
    color: #ffffff;
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}

.header_link:hover,
.mypage__link:hover,
.sell__link:hover {
    text-decoration: underline;
}

.logout-form {
    margin: 0;
}
.change-address__group {
    text-align:center;

}

label {
    display:inline-block;
}

.change-address__heading{
font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#000000;
    
}

.change-address__label{
    font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.05px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color:#000000;
        display: block;
        margin-inline: auto;
}

.change-address__input{
    width: 680px;
        height: 45px;
        top: 311px;
        left: 416px;
        gap: 0px;
        border-radius: 4px 0px 0px 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        border: 1px solid #5F5F5F;
       
        margin-inline: auto;
}

.change-address__error-message {
    color:#ff5555;
}

.change-address__btn {
    width: 680px;
        height: 60px;
        top: 787px;
        left: 416px;
        gap: 0px;
        border-radius: 5px 0px 0px 0px;
        opacity: 0px;
        background: #FF5555;
        font-family: Inter;
            font-size: 26px;
            font-weight: 700;
            line-height: 31.47px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color:#fff;
}

@media (max-width: 1024px) {
    .change-address-form {
        width: 80%;
        /* 幅を80%に調整 */
        padding: 25px;
        /* パディングを調整 */
    }

    .change-address__heading {
        font-size: 1.6rem;
        /* 見出しのフォントサイズを少し小さく */
    }

    .change-address__label {
        font-size: 1rem;
        /* ラベルのフォントサイズを少し小さく */
    }

    .change-address__input {
        padding: 10px;
        /* 入力フィールドのパディングを調整 */
        font-size: 1rem;
        /* フォントサイズを調整 */
    }

    .change-address__btn {
        padding: 10px;
        /* ボタンのパディングを調整 */
        font-size: 1.1rem;
        /* フォントサイズを調整 */
    }
}