.toppage-header {
    display: flex;
}

.toppage-header-search {
    width: 330px;
    height: 36.1px;

    gap: 0px;
    opacity: 0px;
}

.toppage-header-nav {
    width: 463px;
    height: 80px;
    left: 1049px;
    gap: 0px;
    opacity: 0px;
}

.search-form {
    width: 330px;
    height: 50px;
    top: 15px;
    left: 31px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
}

.search-form__keyword-input {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}

.logout-form {
    width: 150px;
    text-align: center;
}

.logout-button {
    font-family: Inter;
    font-size: 24px;

    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}

.mypage__link {
    width: 300px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.sell__link {
    width: 100px;
    height: 50px;
    top: 18px;
    left: 337px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}

.change-address__group {
    text-align:center;

}

label {
    display:inline-block;
}

.change-address__heading{
font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#000000;
    
}

.change-address__label{
    font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.05px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color:#000000;
        display: block;
        margin-inline: auto;
}

.change-address__input{
    width: 680px;
        height: 45px;
        top: 311px;
        left: 416px;
        gap: 0px;
        border-radius: 4px 0px 0px 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        border: 1px solid #5F5F5F;
       
        margin-inline: auto;
}

.change-address__error-message {
    color:#ff5555;
}

.change-address__btn {
    width: 680px;
        height: 60px;
        top: 787px;
        left: 416px;
        gap: 0px;
        border-radius: 5px 0px 0px 0px;
        opacity: 0px;
        background: #FF5555;
        font-family: Inter;
            font-size: 26px;
            font-weight: 700;
            line-height: 31.47px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color:#fff;
}