html,
body {
    height: 100%;
}

.header {
    width: 1515px;
        height: 82px;
        gap: 0px;
        opacity: 0px;
       color:#000000;
}

.header__heading {
    width: 370px;
        height: 36.01px;
        gap: 0px;
        opacity: 0px;
    background: #000000;
}
