.toppage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-left: 20px;
}


.toppage-header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
}


.toppage-header-search {
    flex: 1;
}

.search-form {
    width: 100%;
    display: flex;
}

.search-form__keyword-input {
    width: 400px;
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 200px;
}


.header_link,
.mypage__link,
.sell__link {
    color: #ffffff;
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}

.header_link:hover,
.mypage__link:hover,
.sell__link:hover {
    text-decoration: underline;
}

.logout-form {
    margin: 0;
}

.toppage-list {
width: 1512px;
    height: 47px;
    top: 127px;
    gap: 0px;
    opacity: 0px;
    width: 1512px;
       
}



.list {
    display:flex;
    padding:20px;
}
.best_list-btn {
    width: 155px;
        height: 40px;
        
    font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.05px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color:#5F5F5F;
}

.my-list_btn {
    width: 155px;
        height: 40px;
        
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FF0000;
}

.product-content{
    margin: 20px;
        
}

.product-row {
    width: 770px;
        height: 0px;
        top: 47px;
        gap: 0px;
        display: flex;
        flex-wrap: wrap;
        border: 2px solid #5F5F5F;
}


.product-link {
    
       display: block;
}

.product-image {
    font-family: Inter;
        font-size: 40px;
        font-weight: 400;
        line-height: 48.41px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color:#000000;
}

.product-detail {
    font-family: Inter;
        font-size: 25px;
        font-weight: 400;
        line-height: 30.26px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color:#000000;
}

@media (max-width: 1024px) {
    .product-content {
        width: 45%;
       
    }
}
    